.product-icon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  grid-auto-rows: 48px;
  gap: 16px;
}
.product-icon-item {
  position: relative;
}
.product-icon-item label {
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2659d1;
  border-radius: 16px;
  overflow: hidden;
  padding: 8px;
  cursor: pointer;
}
.product-icon-item label::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 12.5px);
  top: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.product-icon-item:first-child label::after {
  background-image: url("../img/product-icons/ampulse.svg");
}
.product-icon-item:nth-child(2) label::after {
  background-image: url("../img/product-icons/capsules.svg");
}
.product-icon-item:nth-child(3) label::after {
  background-image: url("../img/product-icons/cream.svg");
}
.product-icon-item:nth-child(4) label::after {
  background-image: url("../img/product-icons/draje.svg");
}
.product-icon-item:nth-child(5) label::after {
  background-image: url("../img/product-icons/drops.svg");
}
.product-icon-item:nth-child(6) label::after {
  background-image: url("../img/product-icons/gel.svg");
}
.product-icon-item:nth-child(7) label::after {
  background-image: url("../img/product-icons/injuction.svg");
}
.product-icon-item:nth-child(8) label::after {
  background-image: url("../img/product-icons/mix.svg");
}
.product-icon-item:nth-child(9) label::after {
  background-image: url("../img/product-icons/sprey-2.svg");
}
.product-icon-item:nth-child(10) label::after {
  background-image: url("../img/product-icons/sprey.svg");
}
.product-icon-item:nth-child(11) label::after {
  background-image: url("../img/product-icons/suspension.svg");
}
.product-icon-item:nth-child(12) label::after {
  background-image: url("../img/product-icons/syrop.svg");
}
.product-icon-item:last-child label::after {
  background-image: url("../img/product-icons/tablets.svg");
}
.product-icon-item input:checked + label {
  box-shadow: 0 0 8px 2px green;
}
